<% provide(:title, "Home") %>

<!DOCTYPE html>
<body>
	<h1>Home</h1>
	<p>
		You have reached the castle of predictions. May want to get started at <a href="http://acritch.com/credence-game/"> the calibration game</a>.
	</p>
</body>
